<a href="https://colab.research.google.com/github/ridka42/Python_Data_Learning/blob/main/1019%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B0%95%EC%9D%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2. 숫자형 자료형

In [3]:
a= 5.15E10
print(a)
# 5.15 * 10^10

51500000000.0

In [2]:
a = 5.15E-10
print(a)

5.15e-10

print 함수

In [5]:
print("Hello World!", end = "->")
print("Hello World!", end = "\n")

Hello World!->Hello World!

In [6]:
print("python",'is','too','fun', sep='->')

python->is->too->fun

In [8]:
a = 5
b = 10
c = a+b
d = a-b
e = a*b
f = b/a
g = b%a
h = b//a
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(a+b+c+d+e+f+g+h)

15
-5
50
2.0
0
2
79.0

# 3. 문자열 자료형

In [9]:
text = 'Hello World'
text = "Hello World"
text = '''Hello World'''
text = """Hello World"""
print(text)

Hello World

In [10]:
text = 'He said \'hi\' to me.'
print(text)

He said 'hi' to me.

In [11]:
text = 'He said \nhi to me.'
print(text)

He said
hi to me.

In [12]:
text = '''He said 
hi
 to me.'''
print(text)

He said
hi
 to me.

In [13]:
a = 'python'
b = "is too fun!"
c = 3
print(a+b)
print(a*c)

pythonis too fun!
pythonpythonpython

In [14]:
a= 'python'
print(len(a))

6

In [16]:
a= 'python'
print(a[0])
print(a[-1])

p
n

In [18]:
a= 'python is too fun!'
print(a[2:9])
print(a[:9])
print(a[3:])

thon is
python is
hon is too fun!

문자열 전용 함수: format

In [20]:
# 문자열.함수이름

text = "I eat {} apples and {} oranges".format(3,5)
print(text)

I eat 3 apples and 5 oranges

In [21]:
text = "I eat {0} apples and {0} oranges".format(3,5)
print(text)

I eat 3 apples and 3 oranges

In [22]:
# 10개의 공간을 할당 한 후 오른쪽 정렬

text = "{:>10}".format("Hi")
print(text)

        Hi

In [23]:
# 10개의 공간을 할당 한 후 가운데 정렬

text = "{:^10}".format("Hi")
print(text)

    Hi

In [24]:
# 10개의 공간을 할당 한 후 가운데 정렬 한 후 빈공간 =로 채우기

text = "{:=^10}".format("Hi")
print(text)

====Hi====

In [25]:
# f -> 실수다 2 -> 소수점 두자리로 표현

text = "{:.2f}".format(3.141592)
print(text)

3.14

문자열 전용 함수 : count

In [26]:
text = "Python:is:too:fun!"
print(text.count('o'))

3

문자열 전용 함수 : find

In [27]:
text = "Python is too fun!"

print(text.find("o"))
print(text.find("z"))

# 없으면 -1

4
-1

문자열 전용 함수 : join

In [28]:
# 문자열 사이사이에 , 를 조인 시킴

text = ",".join("abcde")
print(text)

a,b,c,d,e

문자열 전용 함수 : upper, lower

In [30]:
text = "Python is Too fun!"
print(text.upper())
print(text.lower())

PYTHON IS TOO FUN!
python is too fun!

문자열 전용 함수 : lstrip, rstrip, strip

In [31]:
text = "       Hello       "
print(text.lstrip())
print(text.rstrip())
print(text.strip())

Hello
       Hello
Hello

문자열 전용 함수 : replace

In [32]:
text = "Python is too fun!"
print(text.replace("Python","Java"))

Java is too fun!

문자열 전용 함수 : split

In [33]:
text = "Python is too fun!"
print(text.split())

# 빈공간으로 잘라서 리스트에 넣어줌

['Python', 'is', 'too', 'fun!']

In [35]:
text = "Python:is:too:fun!"
print(text.split(":"))

['Python', 'is', 'too', 'fun!']

문자열 전용 함수 : startswith, endswith

In [37]:
text = "Python:is:too:fun!"
print(text.startswith("Python"))
print(text.endswith("fun"))

True
False

문자열 전용 함수 : isalpha

In [38]:
# 문자열로 이루어 졌는지
text1 = "hi"
text2 = "안녕"
print(text1.isalpha())
print(text2.isalpha())

True
True

In [39]:
text1 = "how are you" # 공백
text2 = "g00000d" # 숫자
print(text1.isalpha())
print(text2.isalpha())

False
False

문자열 전용 함수 : isdigit, isalnum, isspace

In [40]:
# 숫자로만 구성 돼 있나

text = '300'
print(text.isdigit())

True

In [41]:
# 숫자와 문자열로 구성 돼 있나

text = "hell000"
print(text.isalnum())

True

In [42]:
# 공백으로만 구성 돼 있나

text = '    '
print(text.isspace())

True

변수 n에 할당된 값 만큼 '수박'을 출력하는 코드를 작성해 보시오.

In [45]:
a = '수박'
n = 7

print(a*(n//2)+a[0]*(n%2))

수박수박수박수

In [49]:
n = 3
a = '수박' * n

print(a[:n])

수박수

# 4. 리스트 자료형

In [ ]:
a= []
b =[1,2,3]
c=['life','is','short']
d = [1,2,'life','is']
e = [1,2,['life','is']]

In [ ]:
# 2차원 리스트 -> 리스트 안의 리스트

a= [[1,2],[3,4]]

리스트 인덱싱

In [51]:
a= [1,2,3]
print(a[0])
print(a[-1])

1
3

In [53]:
a= [1,2,3,4,5]
print(a[0:2]) # 0,1
print(a[2:]) # 2~
print(a[0:4:2]) # 0,1,2,3 을 2씩 띄어서 -> 0,2

[1, 2]
[3, 4, 5]
[1, 3]

리스트 덧셈, 곱셈

In [54]:
a= [1,2,3]
b=[4,5,6]
a+b

# 빼기는 오류

[1, 2, 3, 4, 5, 6]

In [55]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

리스트 길이 구하기

In [56]:
a=[1,2,3]
len(a)

3

리스트 값 수정하기

In [57]:
a=[1,2,3]
a[2]=4
a

[1, 2, 4]

del 키워드 이용해서 리스트 요소 삭제하기

In [58]:
a= [1,2,3,4,5]
del a[1]
print(a)

[1, 3, 4, 5]

In [59]:
a= [1,2,3,4,5]
del a[2:]
print(a)

[1, 2]

list 내장함수, 전용함수

In [61]:
a= 'python'
list(a)

# 글자를 자르기 쉽다.

['p', 'y', 't', 'h', 'o', 'n']

In [64]:
# append

a=[1,2,3]
a.append(4)
print(a)
a.append([5,7])
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, [5, 7]]

In [69]:
# sort

a=[1253,465,3,5,6]
a.sort()
print(a)
a.sort(reverse = True)
print(a)

a= ['a','c','b']
a.sort()
print(a)

[3, 5, 6, 465, 1253]
[1253, 465, 6, 5, 3]
['a', 'b', 'c']

In [71]:
# reverse

a=['a','b','c']
a.reverse() # 정렬해주는게 아니고 순서만 뒤집기
print(a)
print(a[::-1]) # reverse 함수와 같음

['c', 'b', 'a']
['a', 'b', 'c']

In [74]:
# index

a=[1,2,3]
print(a.index(3))
print(a.index(1))
print(a.index(5))
# a에서 3의 인덱스를 찾아라/ 없으면 오류

2
0

ValueError: ignored

In [75]:
# insert

a=[1,2,3]
a.insert(0,4)
a
# 4를 0번째에 삽입해라

[4, 1, 2, 3]

In [76]:
# remove

a=[1,2,3,4,2,3,1]
a.remove(3)
a
# 처음 3만 지워줌

[1, 2, 4, 2, 3, 1]

In [79]:
# pop

a= [1,2,3]
print(a.pop())
a
# 뽑아 내기

3

[1, 2]

In [80]:
# count

a = [1,2,3,1]
a.count(1)
# 1의 개수 세기

2

In [81]:
# extend

a=[1,2,3]
a.extend([4,5])
a
# 합치고 저장하기

[1, 2, 3, 4, 5]

리스트 값이 저장된 a 의 최대값을 변수 c에 할당하고 최소값을 변수 d에 할당하세요.

a=[1,3,5,4,2]

In [97]:
a=[1,3,5,4,2]
a.sort()
c=a[-1]
d=a[0]
print(a)
print(c)
print(d)

print(max(a))
print(min(a))

[1, 2, 3, 4, 5]
5
1
5
1

변수 b에서 인덱싱을 사용하여 5만 추출해서 변수 e에 할당하세요.

In [95]:
b=[1,2,3,[4,5]]
e=b[3][1]
e

5

변수 c,d,e를 곱한 값을 화면에 출력하세요.

In [96]:
print(c*d*e)

25

# 5. 튜플 자료형

In [1]:
t1 = (1,2,3)
t2 = (1,2,[3,4])

In [2]:
# 튜플 값 변경하기 -> 불가능

a= (1,2,3,4,5)
a[2] =10
print(a)

TypeError: ignored

In [ ]:
# 튜플 값 삭제하기 -> 불가능
a= (1,2,3,4,5)
del a[2]
print(a)

# 하나의 변수에 여러개의 값을 할당하면 자동으로 튜플로 저장
# 기본적으로는 하나의 값은 취급하지 않는다.

In [3]:
# 튜플 인덱싱

t1 = (1,3,5,4,2)
print(t1[0])
print(t1[-1])

1
2

In [4]:
# 튜플 슬라이싱

t1 = (1,3,5,95,3,2,9,67)
print(t1[2:5])
print(t1[3:])
print(t1[:5])

(5, 95, 3)
(95, 3, 2, 9, 67)
(1, 3, 5, 95, 3)

In [5]:
# 튜플 덧셈

a=(1,2,3)
b=(4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 6)

In [6]:
# 튜플 곱셈

a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [7]:
# 튜플 길이 구하기

print(len(a))

3

In [8]:
# 튜플을 리스트로 변환하기 -> 수정가능하게됨

a=(23,3,5,87,3)
a= list(a)
print(a)

[23, 3, 5, 87, 3]

In [9]:
# 리스트를 튜플로 변환하기
a= [23,34,6457,3]
a= tuple(a)
print(a)

(23, 34, 6457, 3)

In [12]:
a= (1,2,3,4,5,6,7,8,9,10)
print(a[::2])
print(a[1::2])

(1, 3, 5, 7, 9)
(2, 4, 6, 8, 10)

In [15]:
a = (1,2,3)
a= list(a)
a[1]=10
print(a)
del a[1]
print(a)
a= tuple(a)
print(a)

[1, 10, 3]
[1, 3]
(1, 3)

튜플이 저장된 변수 a에 정수 5를 추가하시고, 내림차순으로 정렬된 튜플을 화면에 출력해보세요.

In [21]:
a=(2,3,1,4)
a= list(a)
a.append(5)
a.sort(reverse =True) 
# a.sort()
# a.reverse() // a[::-1]
print(a)

[5, 4, 3, 2, 1]

In [25]:
a=(2,3,6,87,0)
a=list(a)
a.sort()
a[::-2]

[87, 3, 0]