<a href="https://colab.research.google.com/github/ridka42/Python_Data_Learning/blob/main/%EC%A0%90%ED%94%84%ED%88%AC%ED%8C%8C%EC%9D%B4%EC%8D%AC%EC%97%B0%EC%8A%B5%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2장(자료형) 연습문제

홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

과목	점수
국어	80
영어	75
수학	55

In [2]:
a= 80
b= 75
c= 55

ave = (a+b+c)/3
ave

70.0

자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [3]:
if 13 % 2 ==1:
  print("홀수")
else:
  print("짝수")

홀수

홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [9]:
id = "881120-1068234"
a= id[:6]
b= id[7:]
print(a,b)

881120 1068234

주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [10]:
print(id[7])

1

다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [11]:
"a:b:c:d".replace(":","#")

'a#b#c#d'

[1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [19]:
li = [1, 3, 5, 4, 2]
li.sort()
li.reverse()
li

[5, 4, 3, 2, 1]

['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [21]:
li = ['Life', 'is', 'too', 'short']
a = " ".join(li)
a

# 리스트의 각 단어들을 한 문장으로 조립할 때 단어들 사이마다 공백을 넣어 주어야 한다. 
# 1개의 공백문자(" ")를 사용하여 join한다.

'Life is too short'

(1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [32]:
a= (1,2,3)
a= a+(4,)
print(a)


# a + (4, )의 결과는 a 값이 변경되는 것이 아니라 (튜플은 그 값을 변경할 수 없다) 
# 새로운 튜플이 생성되고 그 값이 a 변수에 대입되는 것

(1, 2, 3, 4)

다음과 같은 딕셔너리 a가 있다.

>a = dict()

>a

{}

다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

1. a['name'] = 'python'

2. a[('a',)] = 'python'

3. a[[1]] = 'python'

4. a[250] = 'python'

In [37]:
a= dict()
a[('a',)] = 'python'
a
# 튜플로 key 생성 가능

{('a',): 'python'}

In [38]:
a[[1]] = 'python'
a
# key에는 변하는 값을 사용할 수 없다. -> 리스트는 불가능

TypeError: ignored

딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [43]:
a = {'A':90, 'B':80, 'C':70}

print(a.pop('B'))
print(a)

80
{'A': 90, 'C': 70}

a 리스트에서 중복 숫자를 제거해 보자.

In [39]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

s = set(a)
a= list(s)
a

[1, 2, 3, 4, 5]

파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

> a = b = [1, 2, 3]

> a[1] = 4

> print(b)

In [40]:
a=b=[1,2,3]
a[1] = 4
print(b)

# 따로 복제가 되는 것이 아니라 같은 주소를 부르는 이름이 다를뿐
# a와 b 변수는 모두 동일한 [1, 2, 3]이라는 리스트 객체를 가리키고 있기 때문이다.

[1, 4, 3]

# 3장(제어문) 연습문제

다음 코드의 결괏값은 무엇일까?

a = "Life is too short, you need python"

if "wife" in a: print("wife")

elif "python" in a and "you" not in a: print("python")

elif "shirt" not in a: print("shirt")

elif "need" in a: print("need")

else: print("none")

In [ ]:
# shirt

while문을 사용해 1부터 1000까지의 자연수 중 3의 배수의 합을 구해 보자.

In [45]:
b=0
a=1
while a <1000:
  if a % 3 ==0:
    b= a+b
  a+=1
print(b)

166833

while문을 사용하여 다음과 같이 별(*)을 표시하는 프로그램을 작성해 보자.

*

**

\***

\****

\*****

In [49]:
n=1
while True:
  print('*'*n)
  n+=1
  if n >5: 
    break

*
**
***
****
*****

for문을 사용해 1부터 100까지의 숫자를 출력해 보자.

In [ ]:
for i in range(1,101):
  print(i)

A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.

[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]

for문을 사용하여 A 학급의 평균 점수를 구해 보자.

In [53]:
a=0
score = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
for s in score:
  a= s +a
print(a/len(score))

79.0

리스트 중에서 홀수에만 2를 곱하여 저장하는 다음 코드가 있다.

numbers = [1, 2, 3, 4, 5]

result = []

for n in numbers:

  if n % 2 == 1:

  result.append(n*2)

위 코드를 리스트 내포(list comprehension)를 사용하여 표현해 보자.

In [55]:
numbers = [1, 2, 3, 4, 5]
result = [n*2 for n in numbers if n % 2 == 1]
result

[2, 6, 10]

# 4장(함수) 연습문제

주어진 자연수가 홀수인지 짝수인지 판별해 주는 함수(is_odd)를 작성해 보자.

In [56]:
def is_odd(n):
  if n%2==0:
    return "짝수"
  else:
    return "홀수"

is_odd(10)

'짝수'

In [57]:
is_odd = lambda n: "짝수" if n%2==0 else "홀수" 
is_odd(21)

'홀수'

입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성해 보자. (단 입력으로 들어오는 수의 개수는 정해져 있지 않다.)

In [59]:
def ave(*numbers):
  total=0
  for t in numbers:
    total += t
  return total / len(numbers)

ave(1,2,3,4,5)

3.0

다음은 두 개의 숫자를 입력받아 더하여 돌려주는 프로그램이다.

input1 = input("첫번째 숫자를 입력하세요:")

input2 = input("두번째 숫자를 입력하세요:")

total = input1 + input2

print("두 수의 합은 %s 입니다" % total)

이 프로그램을 수행해 보자.

첫번째 숫자를 입력하세요:3

두번째 숫자를 입력하세요:6

두 수의 합은 36 입니다

3과 6을 입력했을 때 9가 아닌 36이라는 결괏값을 돌려주었다. 이 프로그램의 오류를 수정해 보자.

In [60]:
input1 = input("첫번째 숫자를 입력하세요:")
input2 = input("두번째 숫자를 입력하세요:")

total = int(input1) + int(input2)
print("두 수의 합은 %s 입니다" % total)

첫번째 숫자를 입력하세요:3
두번째 숫자를 입력하세요:6
두 수의 합은 9 입니다

다음 중 출력 결과가 다른 것 한 개를 골라 보자.

print("you" "need" "python")

print("you"+"need"+"python")

print("you", "need", "python")

print("".join(["you", "need", "python"]))

In [61]:
print("you", "need", "python")

you need python

In [62]:
print("".join(["you", "need", "python"]))

youneedpython

다음은 "test.txt"라는 파일에 "Life is too short" 문자열을 저장한 후 다시 그 파일을 읽어서 출력하는 프로그램이다.

f1 = open("test.txt", 'w')

f1.write("Life is too short")

f2 = open("test.txt", 'r')

print(f2.read())

이 프로그램은 우리가 예상한 "Life is too short"라는 문장을 출력하지 않는다. 우리가 예상한 값을 출력할 수 있도록 프로그램을 수정해 보자.

In [66]:
f1 = open("test.txt", 'w')
f1.write("Life is too short")
f1.close()

f2 = open("test.txt", 'r')
print(f2.read())
f2.close()

Life is too short

사용자의 입력을 파일(test.txt)에 저장하는 프로그램을 작성해 보자. (단 프로그램을 다시 실행하더라도 기존에 작성한 내용을 유지하고 새로 입력한 내용을 추가해야 한다.)

In [67]:
data = input()
f = open("test.txt", 'a')
f.write(data)
f.write("\n")
f.close()

hi

다음과 같은 내용을 지닌 파일 test.txt가 있다. 이 파일의 내용 중 "java"라는 문자열을 "python"으로 바꾸어서 저장해 보자.

Life is too short

you need java

In [78]:
data = """Life is too short
you need java"""

f= open("test.txt", 'w')
f.write(data)
f.close()

f= open("test.txt", 'r')
data = f.read()
f.close()

data = data.replace("java","python")

f1 = open("test.txt",'w')
f1.write(data)
f1.close()

f= open("test.txt", 'r')
print(f.read())
f.close()

Life is too short
you need python